<% if CurationConcerns.config.display_media_download_link %>
    <div class="representative-media">
      <%= image_tag thumbnail_url(file_set),
                    class: "representative-media",
                    alt: "" %>
      <%= link_to main_app.download_path(file_set),
                  target: "_new",
                  class: "btn btn-default" do %>
          Download the full-sized image
      <% end %>
    </div>
<% else %>
    <div>
      <%= image_tag thumbnail_url(file_set),
                    class: "representative-media",
                    alt: "" %>
    </div>
<% end %>
